{% set show_required_legend = false %}

<div id="{{ metadata_taxonomy }}-meta-box">
	<ul id="pp-checklist-req-box">
		{% for key, req in requirements %}
			<li
				id="pp-checklist-req-{{ key }}"
				class="pp-checklist-req {{ req.rule }} status-{{ req.status ? 'yes' : 'no' }}"
				data-id="{{ key }}">

				<span class="dashicons dashicons-{{ req.status ? 'yes' : 'no' }}"></span>
				<span class="status-label">
					{{ req.label }}
				</span>
				<span>
					{% if req.rule == 'block' %}
						*

						{% set show_required_legend = true %}
					{% endif %}
				</span>
			</li>
		{% endfor %}
	</ul>

	{% if show_required_legend %}
		<em>(*) {{ __( 'Required' ) }}</em>
	{% endif %}
</div>

<div class="remodal" data-remodal-id="pp-checklist-modal-alert"
	data-remodal-options="hashTracking: false, closeOnOutsideClick: false">
	<div id="pp-checklist-modal-alert-content"></div>
	<br>
	<button data-remodal-action="confirm" class="remodal-confirm">OK</button>
</div>

<div class="remodal" data-remodal-id="pp-checklist-modal-confirm"
	data-remodal-options="hashTracking: false, closeOnOutsideClick: false">
	<div id="pp-checklist-modal-confirm-content"></div>
	<br>
	<button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
	<button data-remodal-action="confirm" class="remodal-confirm">OK</button>
</div>