<table class="wp-list-table fixed striped">
	<thead>
		<tr>
			<th width="30%">Description</th>
			<th width="50%">Required</th>
			<th width="20%">Action</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>{{ __( 'Minimum Word Count' ) }}</td>
			<td>
				{{ html_checkbox_bool( { 'id': 'min-word-count', 'name': 'min_word_count', 'post_type': 'global' } ) }}
				{{ html_small_input( { 'id': 'min-word-count-value', 'name': 'min_word_count_value', 'post_type': 'global', 'placeholder': __( 'type...' ), 'type': 'number' } ) }}
			</td>
			<td>{{ html_list_of_actions( 'min_word_count', 'global' )|raw }}</td>
		</tr>

		<tr>
			<td>{{ __( 'Featured Image' ) }}</td>
			<td>
				{{ html_checkbox_bool( { 'id': 'featured-image', 'name': 'featured_image', 'post_type': 'global' } ) }}
			</td>
			<td>{{ html_list_of_actions( 'featured_image', 'global' )|raw }}</td>
		</tr>

		<tr>
			<td>{{ __( 'Minimum Tags Count' ) }}</td>
			<td>
				{{ html_checkbox_bool( { 'id': 'min-tags-count', 'name': 'min_tags_count', 'post_type': 'global' } ) }}
				{{ html_small_input( { 'id': 'min-tags-count-value', 'name': 'min_tags_count_value', 'post_type': 'global', 'placeholder': __( 'type...' ), 'type': 'number' } ) }}
			</td>
			<td>{{ html_list_of_actions( 'min_tags_count', 'global' )|raw }}</td>
		</tr>

		<tr>
			<td>{{ __( 'Minimum Categories Count' ) }}</td>
			<td>
				{{ html_checkbox_bool( { 'id': 'min-categories-count', 'name': 'min_categories_count', 'post_type': 'global' } ) }}
				{{ html_small_input( { 'id': 'min-categories-count-value', 'name': 'min_categories_count_value', 'post_type': 'global', 'placeholder': __( 'type...' ), 'type': 'number' } ) }}
			</td>
			<td>{{ html_list_of_actions( 'min_categories_count', 'global' )|raw }}</td>
		</tr>
	</tbody>
</table>
