<div id="pp-checklists-post-type-filter">
    {% for post_type_key, post_type_label in post_types %}
        <a href="#{{ post_type_key }}">{{ post_type_label }}</a>
    {% endfor %}
</div>

<table class="wp-list-table striped pp-checklists-requirements-settings" id="pp-checklists-requirements">
    <thead>
    <tr>
        <th width="20%">{{ lang.description }}</th>
        <th width="20%">{{ lang.action }}</th>
        <th width="60%">{{ lang.params }}</th>
    </tr>
    </thead>

    <tbody>

    {% for post_type, post_type_requirements in requirements %}
        {% for requirement in post_type_requirements %}

            <tr
                    class="pp-checklists-requirement-row"
                    data-id="{{ requirement.name }}"
                    data-post-type="{{ post_type }}">

                <td>{{ requirement.get_setting_title_html()|raw }}</td>
                <td>{{ requirement.get_setting_action_list_html()|raw }}</td>
                <td>{{ requirement.get_setting_field_html()|raw }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
<br>
<div>
    <a id="pp-checklists-add-button" href="javascript:void(0);">
        <span class="dashicons dashicons-plus-alt"></span> {{ lang.add_custom_item }}
    </a>
</div>
